In [16]:
import torch
import pandas as pd
import os
root = "../data/fashion-mnist"

train_csv = os.path.join(root, "fashion-mnist_train.csv")
test_csv = os.path.join(root, "fashion-mnist_test.csv")

df_tr = pd.read_csv(train_csv)
df_te = pd.read_csv(test_csv)

df_tr.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
y_tr = torch.tensor(df_tr["label"].values, dtype=torch.long)
X_tr = torch.tensor(df_tr.drop(columns=["label"]).values, dtype=torch.float32)

y_te = torch.tensor(df_te["label"].values, dtype=torch.long)
X_te = torch.tensor(df_te.drop(columns=["label"]).values, dtype=torch.float32)


print(X_tr.shape, y_tr.shape)
print(X_te.shape, y_te.shape)

print(X_tr.min(), X_tr.max())

torch.Size([60000, 784]) torch.Size([60000])
torch.Size([10000, 784]) torch.Size([10000])
tensor(0.) tensor(255.)

In [18]:
X_tr = X_tr / 255.0
X_te = X_te / 255.0

print(X_tr.min(), X_tr.max())

tensor(0.) tensor(1.)

In [21]:
bundle = {
    "X_train": X_tr.float().cpu().contiguous(),
    "y_train": y_tr.long().cpu().contiguous(),
    "X_test":  X_te.float().cpu().contiguous(),
    "y_test":  y_te.long().cpu().contiguous(),
}
torch.save(bundle, os.path.join(root, "fashion_mnist_knn.pt"))